---
title: Home
layout: default
---

<div id="wrapper">
	<main class="main-canvas">
		<nav class="site-navigation" id="site-nav">
		   {% for item in site.pages %}
			   {% if item.title == "Home"%}
			   {% elsif item.title %}
			      <a href="{{ item.url }}">{{ item.title }}</a>
			   {% endif %}
		   {% endfor %}
		</nav>
		<img src="{{site['Mascot Image']}}" alt="{{site['Mascot Alt Text']}}" class="mascot">
		<div class="logo-container">
		<img src="{{site['Text Logo Stacked Image']}}" alt="{{site['Text Logo Alt Text']}}">
		<a href="{{site['Apply Button Link']}}" id="apply-button" target="_blank">Apply</a>
		</div>
		<footer class="fest-tagline">{{ site['Tagline'] }}</footer>
	</main>
</div>