<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8">

<title>{{ page.title }} - {{ site.title }}</title>
<meta name="description" content="{{ page.title }} - {{ site.title }}" />
<meta name="keywords" content="art, artists, Providence, Rhode Island, zines, art book fair, festival, event, queer, archive, publishing, risograph, publishing, independent" />
<link rel="shortcut icon" type="image/x-icon" href="{{site['Favicon Image']}}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@qtz_fest">  
<meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
<meta name="twitter:description" content="{{site.description}}" />
<meta name="twitter:site:" content="queerwork" />
<!-- <meta name="twitter:image" content="https://qtzfest.com/images/peach1.jpg" /> -->

<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
<meta property="og:description" content="{{site.description}}" />
<meta property="og:image" content="{{site['Mascot Image']}}" />
<meta property="og:url" content="https://qtzfest.com/index.html" />
<meta property="og:type" content="website" />

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">