---
---

@import "base";

@keyframes apply {
  from {transform: scale(1.0) translate(calc(20% + 20px), calc(-15% - 30px));}
  to {transform: scale(1.1) translate(calc(20% + 20px), calc(-15% - 30px));}
}


body {
	background-color: {{ site.background_color }};
	color: {{ site.text_color }};
	font-size: 20px;
}
hr {
    border: 0;
    height: 2px;
    background: {{site.text_color}};
}
a {
	text-decoration: none;
	color: {{site.accent_color}};
}
a.home-button{
	display: block;
	text-align: center;
	width: 100%;
}
a.home-button > img {
	width: 5em;
	height: auto;
}
div#wrapper > h1:first-of-type {
	margin-top: 0rem;
}
h1 {
	text-align: center;
}

#wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	padding: 1em;
	max-width: 1400px;
	font-size: 1.5em;
	overflow-x: hidden;
}

div#wrapper.page-wrapper {
	position: relative;
	max-width: 1000px;
}

nav.site-navigation{
	display: flex;
	position: relative;
	width: 100%;
	max-width: 1000px;
	flex-flow: row wrap;
}

nav.site-navigation > a{
	display: block;
	margin-top: 0em;
	position: relative;
	color: {{site.text_color}};
}

nav.site-navigation > a:not(:first-child){
	margin-left: 2em;
}

.main-canvas{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	min-height: 100%;
	align-items: center;
	align-content: center;
}
.main-canvas > * {
	position: relative;
	flex: 0 0 auto;
	max-height: 80%;
	width: auto;
	max-width: 40%;
	min-width: 150px;
}
div.logo-container{
	position: relative;
	max-width: 50%;
	min-width: 280px;
}

div.logo-container > img {
	height: auto;
	width: 100%;

}
#apply-button{
	right: 0;
	top: 0;
	position: absolute;
	display:flex;
	padding: 1em;
	background-image: url('{{site.apply_button_image}}');
	background-size: 100% 100%;
	width: 7.5vw;
	height: 9.2vw;
	justify-content: center;
	text-align: center;
	align-items: center;
	min-width: 64px;
	min-height: 80px;
	transform-origin: center center;
	animation: apply 1s infinite alternate;
	color: {{site.text_color}};
}
.mascot {
	max-height: 70%;
	max-width: 40%;
}
footer.fest-tagline {
	text-align: center;
	width: 100%;
	margin-top: 0.75em;
	max-width: 100%;
}

.exhibitor {
  display: flex;
  padding: 2rem;
}

.exhibitor-info{
  font-size: 100%;
  line-height: 1.25;
  padding-right: 3rem;
  padding-left: 3rem;
}

a.exhibitor-index {
	color: {{site.text_color}};
}

.exhibitor-info > p {
  padding-right: 0;
  padding-left: 0;
  font-size: 75%;
}

h1.exhibitor-name{
  font-size: 100%;
  margin-bottom: 0;
  line-height: 1;
  text-align: left;
}

.exhibitor-city {

}

.exhibitor-links {
  word-break: break-all;
}

.exhibitor-photo {
  height: 300px;
  width: 300px;
/*  clear: left;
  float: left;*/
  min-width: 300px;
/*  margin-right: 25px;*/
  object-fit: cover;
}

/*.exhibitor-list-index > a::before{
  content: '📚  ';
}*/

.exhibitor-list-index > a{
  display: list-item;
  /*list-style-type: "📚";
  padding-inline-start: 1ch;*/
}

.exhibitor-list-index{
  font-size: 1.5rem;
  line-height: 1.25;
  column-count: 3;
  column-gap: 8vw;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {

.exhibitor-list-index{
  column-count: 2;
}
.exhibitor-photo {
  height: 70vw;
  width: 70vw;
  min-width: 100%;
  margin-bottom: 2rem;
}

.exhibitor-info{
  padding-right: 0;
  padding-left: 0;
}

.exhibitor{
  flex-flow: row wrap;
}


  body {
    font-size: 1em;
  }
  nav.site-navigation{
  	justify-content: center;
  	margin-bottom: 0.5em;
  }
  #apply-button {
  }
  div.logo-container{
  	margin-left: 50%;
  	margin-right: 50%;
  }
  .mascot {
  	transform: 1em;
  }
  footer.fest-tagline {
  	margin-top: 0em;
  }
  nav.site-navigation > a {
	  border: 1px solid {{site.text_color}};
		padding: 0.375em;
		border-radius: 1em;
		margin-left: 0.25em;
		margin-right: 0.25em;
		margin-top: 0.5em;
	}
	nav.site-navigation > a:hover{
	background-color: {{site.text_color}};
	color: {{site.background_color}}
}
  nav.site-navigation > a:not(:first-child){
	margin-left: 0.25em;
	margin-right: 0.25em;
	}
	nav.site-navigation > a:first-child{
		margin-left: 0;
	}
	nav.site-navigation > a:last-child{
		margin-right: 0;
	}
}